<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<title>牛人团队 小牛电动官网</title>
<meta name="keywords" content="小牛团队,小牛公司架构,小牛员工,加入小牛,牛电科技招聘,小牛电动" />
<meta name="description" content="小牛团队介绍" />
<meta name="author" content="牛电科技" />
<meta name="copyright" content="niu.com" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- 新 Bootstrap 核心 CSS 文件 -->
<!-- 可选的Bootstrap主题文件（一般不用引入） -->
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<link type="text/css" rel="stylesheet" href="http://dn-www-niu.qbox.me/static/pkg/auto_combine_a9467_8d687e4.css">
</head>
<body>
<script src="https://www.niu.com/component/header/"></script>

<div class="con-width" style="padding-top: 85px;">
 <!--  <div class="niu-logo"><img src="./team/images/niu-logo.png?v=1"></div> -->
  <div class="top-img clearfix">
  	<!-- <div class="down-link">
  		  <a href="javascript:;" id="jsTeamGo" style="margin-right:20px;"></a><a href="http://bbs.niu.com" target="_blank"></a>
  	</div> -->
  	<!-- <img src="./team/images/img01.jpg?v=1" class="img-all" /> -->
  	  <div class="title-top-mid top-img clearfix">
        <div class="font-bottom">
  	  	   <h1>一群有趣的年轻人，<br>打造这个时代的车。</h1>
  	  	   <span>Fun with passion, building the e-scooter <br>for niu generation. <br>All in or nothing.</span>
           <div class="top-link clearfix">
              <!-- <a href="javascript:;" id="jsTeamGo">了解团队</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="http://bbs.niu.com" target="_blank">进入社区</a> -->
           </div>
        </div>
	    </div>
  </div>
  <div class="menu-line"><span>OUR TEAM&nbsp;&nbsp;&nbsp;团队</span></div>


  <a name="team" id="team"></a>

	<div id="p1">
		<div class="row team-popup" id="p1_popup">
		  <div class="col-xs-4"><img class="pic" src="http://dn-www-niu.qbox.me/static/team/team/p1/1-1-2_c3b37bb.jpg?v=1" /></div>
		  <div class="col-xs-8">
            <div class="t">
		  		<h2 class="title">李 一 男   Yinan Li</h2>
		  		<p class="subtitle">首席执行官   CEO</p>
            </div>
            <div class="con-box">
                <div class="content">无论对多少事情失望，<br/>都没有理由对最好的时代失望。<br/>和志同道合的朋友，做点有趣的事。 </div>
                <div class="pos-a prev"></div>
                <div class="pos-a next"></div>
            </div>
		  </div>
		</div>
		<div class="row team-list">
		  <div class="col-xs-2"><div class="team-photo" data-id="0"><img class="pic2" src="http://dn-www-niu.qbox.me/static/team/team/p1/1-1-2_c3b37bb.jpg?v=1" /><img class="pic1" src="http://dn-www-niu.qbox.me/static/team/team/p1/1-1-1_9c49ec0.jpg?v=1" /></div></div>
		  <div class="col-xs-2"><div class="team-photo" data-id="1"><img class="pic2" src="http://dn-www-niu.qbox.me/static/team/team/p1/1-2-2_fd1a277.jpg?v=1" /><img class="pic1" src="http://dn-www-niu.qbox.me/static/team/team/p1/1-2-1_f7f38c8.jpg?v=1" /></div></div>
		  <div class="col-xs-2"><div class="team-photo" data-id="2"><img class="pic2" src="http://dn-www-niu.qbox.me/static/team/team/p1/1-3-2_95bc2ff.jpg?v=1" /><img class="pic1" src="http://dn-www-niu.qbox.me/static/team/team/p1/1-3-1_1e94dfa.jpg?v=1" /></div></div>
		  <div class="col-xs-2"><div class="team-photo" data-id="3"><img class="pic2" src="http://dn-www-niu.qbox.me/static/team/team/p1/1-4-2_e9d73b6.jpg?v=1" /><img class="pic1" src="http://dn-www-niu.qbox.me/static/team/team/p1/1-4-1_c333bc1.jpg?v=1" /></div></div>
		  <div class="col-xs-2"><div class="team-photo" data-id="4"><img class="pic2" src="http://dn-www-niu.qbox.me/static/team/team/p1/1-5-2_15be669.jpg?v=1" /><img class="pic1" src="http://dn-www-niu.qbox.me/static/team/team/p1/1-5-1_019d055.jpg?v=1" /></div></div>
		  <div class="col-xs-2"><div class="team-photo" data-id="5"><img class="pic2" src="http://dn-www-niu.qbox.me/static/team/team/p1/1-6-2_d0c8a0f.jpg?v=1" /><img class="pic1" src="http://dn-www-niu.qbox.me/static/team/team/p1/1-6-1_0498758.jpg?v=1" /></div></div>
		</div>
	</div>

	<div id="list24"></div>
		  
  <div class="title-mid clearfix" style="padding-top:0px;">
  	   <h1 style="margin:0px;">“人无癖不可与交，以其无深情也”</h1>
  </div>

  
  <img src="http://dn-www-niu.qbox.me/static/team/team/images/img02_efc0e99.jpg?v=1" class="img-all" />

  <div class="title-mid clearfix">
  	   <h1>“极致的人，集结成一个团队”</h1>
  	   <h2>不同性格，不同背景，同样执着，同样热血<br>
			他们精力充沛，他们坚韧不拔，<br>
			他们对时代敏感，他们向经典致敬。
		</h2>
  </div>
  <img src="http://dn-www-niu.qbox.me/static/team/team/images/img03_73e5327.jpg?v=1"  class="img-all"/>

  <div class="title-mid clearfix">
  	   <h1>“对热爱的事业，锱铢必较”</h1>
  	   <h2>他们有着深入做好每一个细节的偏执，他们有着任何时候不惧怕从头再来的胆量，<br>
			他们天马行空，他们认真严谨，<br>
			他们在实践中去伪存真，他们在挑战中升华自我。
		</h2>
  </div>
  <img src="http://dn-www-niu.qbox.me/static/team/team/images/img04_43035fd.jpg?v=1" class="img-all" />

  <div class="title-mid clearfix">
  	   <h1>“从最原始的需求，做最彻底的改变”</h1>
  	   <h2>他们懂得尊重自己内心的真实感受，他们懂得接纳来自外界的合理意见，<br>
		他们看得到时代的问题，他们扛得起时代的责任，<br>
		他们细心洞悉，他们认真求索，他们借时代之势，他们还时代以诚。
		</h2>
  </div>
  <img src="http://dn-www-niu.qbox.me/static/team/team/images/img05_92c6b90.jpg?v=1" class="img-all"/>
 
  <div class="title-mid clearfix" style="padding-bottom:0px;">
  	   <h1>“倾尽所能，只为用心做一辆好车”</h1>
  </div>
  <div class="menu-line" style="height:30px;"><img src="http://dn-www-niu.qbox.me/static/team/team/images/down-icon_22320fa.png?v=1" /></div>
  <div class="title-mid clearfix" style="padding-top:0px;">
       <h1 style="margin: 0 auto; width: 10em;white-space:nowrap;">更多可能，等你一起创造....</h1>
  </div>
  <div class="clearfix btn-bottom">
  	   <a href="../job/index.html">加入我们</a>
  </div>
</div>

<script id="popup-tmpl" type="text/tpl">

  <div class="col-xs-4"><img class="pic" src="<%= img2 %>" title="<%= name %>" /></div>
  <div class="col-xs-8">
  	<div class="t">
  		<h2 class="title"><%= name %></h2>
  		<p class="subtitle"><%= title %></p>
  	</div>
    <div class="con-box">
	  	<div class="content"><%= content %></div>
	  	<div class="pos-a prev"></div>
	  	<div class="pos-a next"></div>
    </div>
  </div>

</script>

<script id="list-tmpl" type="text/tpl">
<div class="row team-list">
<% for (var i = 0; i < lists.length; i++ ) { var item = lists[i]; %>
	  <div class="col-xs-2"><div class="team-photo" data-id="<%= i %>"><img class="pic2" src="<%= item.img2 %>" /><img class="pic1" src="<%= item.img1 %>" title="<%= item.name %>" /></div></div>
	<% if (i % 6 == 5) { %>
	</div>
	<div class="row team-popup" style="display: none;" data-index="<%= parseInt(i/6) %>"></div>
	<div class="row team-list">
	<% } %>
<% } %>
</div>
</script>
<!--[if IE]><script src="//dn-www-niu.qbox.me/static/lib/js/pie_61795eb.js"></script><![endif]-->
<script type="text/javascript" charset="utf-8" src="http://dn-www-niu.qbox.me/static/pkg/auto_combine_8ff58_240927e.js"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?2bd5252f20d08f5e7ee0bafd52e1d2cb";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

<script type='text/javascript'>
    (function(a,b,c,d){
        a[c]=function(){a[c]['ar']=a[c]['ar']||[];a[c]['ar'].push(arguments);};
        var s=b.createElement('script');s.async = 1;s.src='//t.agrantsem.com/js/agt.js';
        var r=b.getElementsByTagName('script')[0];r.parentNode.insertBefore(s,r);
    })(window,document,'_agtjs','script');
    _agtjs('init','AG_521723_RRTO','niu.com');
    _agtjs('trackPv');
</script>
</body>
</html>
