
<footer class="footnav">
    <nav class="bottom-nav">
        <div class="bn-content">
            <ul class="nav-block">
                <li>
                    <h3>了解产品</h3>
                    <p><a target="_blank" href="#">小牛电动 N1S</a></p>
                    <p><a target="_blank" href="#">小牛电动 M1</a></p>
                    <p><a target="_blank" href="#">配件</a></p>
                </li>
                <li>
                    <h3>服务与支持</h3>
                    <p><a target="_blank" href="#">查找网点</a></p>
                    <p><a target="_blank" href="offlineexperience.html">小牛驾到</a></p>
                    <p><a target="_blank" href="niucover.html">牛油保</a></p>
                    <p><a target="_blank" href="niucare.html">NIU CARE</a></p>
                    <p><a target="_blank" href="service.html#1">售后政策</a></p>
                    <p><a target="_blank" href="http://www.niu.com/niuapp">NIU APP</a></p>
                </li>
                <li>
                    <h3>帮助中心</h3>
                    <p><a target="_blank" href="service.html#7">购买指南</a></p>
                    <p><a target="_blank" href="service.html#8">支付方式</a></p>
                    <p><a target="_blank" href="service.html#9">配送政策</a></p>
                </li>
                <li>
                    <h3>关于我们</h3>
                    <p><a target="_blank" href="http://service.niu.com/team/">公司简介</a></p>
                    <p><a target="_blank" href="service.html#10">联系我们</a></p>
                    <p><a target="_blank" href="#">加入我们</a></p>
                </li>
                <li>
                    <h3>关注我们</h3>
                    <!-- <p class="erweima"> -->
                    <p class="tooltip">
                        <a class="wechat" target="_blank" href="javascript:;"><i class="icon-wechat"></i>微信公众号</a>
                        <span class="tooltiptext"><img src="~/Areas/Reception/Content/static/common/widget/footer/qrcode-wechat-niu@2x_d85f8494.png" width="90" height="90" alt="" /></span>
                    </p>
                    <!-- <a target="_blank" href="javascript:;">微信公众号</a>
                    <img src="erweima.jpg" alt=""/> -->
                    <p><a class="weibo" target="_blank" href="http://weibo.com/niuescooter"><i class="icon-weibo"></i>新浪微博</a></p>
                </li>
                <li>
                    <h3>客服</h3>
                    <p><a href="tel:400-6388-666"><i class="icon-phone"></i>400-6388-666</a></p>
                    <p>周一至周日 6:00-21:00</p>
                    <p>仅收市话费</p>
                    <p style="line-height: 12px;color: #d2d1d1;">售后由江苏小牛电动科技有限公司全权负责</p>
                </li>
            </ul>
        </div>
    </nav>
    <div class="bottom-bar">
        <div class="cpr-content">
            <span class="copyright">
                &copy;
                <script type="text/javascript">
                document.write(new Date().getFullYear());
                </script> niu.com All rights reserved.    北京牛电科技有限责任公司    京ICP备15010724号-1
                <a target="_blank" href="https://credit.szfw.org/CX20160331018802350193.html"><img src="~/Areas/Reception/Content/static/common/widget/footer/cert@2x_3adf00ac.png" width="16.7" height="14" alt="" /></a>
            </span>
            <div class="copyleft">
                <a href="http://www.niu.com/en/"> <i class="icon-global"></i>International</a>
                <span>中国</span>
            </div>
        </div>
    </div>
</footer>
