<div class="slider">
    <ul>

        <li class="gridBox-link kv-1" data-type="link" data-target="https://store.niu.com/n1s">
            <div class="slidItem">
                <div class="slidItem-content slid-1-t">
                    <img src="~/Areas/Reception/Content/static/common/widget/slider/slider/KV1N1S0825-1_27198195.png">
                    <p class="slid-1-t2">140 公里超长续航 ／ 智能 APP 防盗 ／ 丢一台赔一台</p>
                    <div class="slid1-t-3">
                        <a href="javascript:;" class="slidLinkBtn gridBox-link slid-1-t4" data-type="link" data-target="https://store.niu.com/n1s">了解N1S<i class="icon-right"></i></a>
                        <a href="javascript:;" class="slidLinkBtn gridBox-link slid-1-t5" data-type="link" data-target="https://store.niu.com/buy/n1s">立即购买<i class="icon-right"></i></a>
                    </div>
                </div>
            </div>
        </li>
        <li class="gridBox-link kv2" data-type="link" data-target="http://www.niu.com/activity/offlineexperience/">
            <div class="slidItem">
                <div class="slidItem-content slid0-t">
                    <img src="~/Areas/Reception/Content/static/common/widget/slider/slider/slider2-1_440a8f75.png">

                    <a href="javascript:;" class="slidLinkBtn gridBox-link" data-type="link" data-target="http://www.niu.com/promoter/appointment">立即预约体验试驾会<i class="icon-right"></i></a>

                    <a href="javascript:;" id="indexSliderBaidutj-5" class="slidLinkBtn gridBox-link detail" data-type="link" data-target="http://www.niu.com/activity/offlineexperience/">了解更多<i class="icon-right"></i></a>
                </div>
            </div>
        </li>
        <li class="gridBox-link kv3" data-type="link" data-target="http://bbs.niu.com/forum.php?mod=viewthread&tid=86057&highlight=评测">
            <div class="slidItem">
                <div class="slidItem-content slid2-t">
                    <img src="~/Areas/Reception/Content/static/common/widget/slider/slider/0821-1_e846c2d1.png">
                    <a href="javascript:;" class="slidLinkBtn gridBox-link" data-type="link" data-target="http://bbs.niu.com/forum.php?mod=viewthread&tid=86057&highlight=评测">了解更多<i class="icon-right"></i></a>
                </div>
            </div>
        </li>

        <li class="gridBox-link kv5" data-type="link" data-target="https://hd.niu.com/niuplan/">
            <div class="slidItem">
                <div class="slidItem-content slid4-t">
                    <a href="javascript:;" class="slidLinkBtn gridBox-link" data-type="link" data-target="https://hd.niu.com/niuplan/">了解更多<i class="icon-right"></i></a>
                    <a href="javascript:;" id="indexSliderBaidutj-4" class="slidLinkBtn gridBox-link" data-type="link" data-target="http://www.niu.com/yuyue/m1">立即预约<i class="icon-right"></i></a>
                </div>
            </div>
        </li>
    </ul>
</div>



<section class="gridBox">
    <ul>
        <li>
            <a class="gridBox-link" href="javascript:;" data-type="link" data-target="https://store.niu.com/m1/">
                <div class="gridBoxItem gridBoxItem1"></div>
                <h3>小牛电动M1 产品详情</h3>
                <p>了解小牛电动M1出色的设计与全新科技</p>
            </a>
        </li>
        <li>
            <a class="gridBox-link" href="javascript:;" data-type="link" data-target="http://bbs.niu.com/thread-81607-1-1.html">
                <div class="gridBoxItem gridBoxItem2"></div>
                <h3>最全的小牛日常保养技巧</h3>
                <p>让你的爱车清凉一夏</p>
            </a>
        </li>
        <li>
            <a class="gridBox-link" href="javascript:;" data-type="link" data-target="https://store.niu.com">
                <div class="gridBoxItem gridBoxItem3"></div>
                <h3>官方商城 配件上新</h3>
                <p>满499元免运费</p>
            </a>
        </li>
        <li>
            <a class="gridBox-link" href="javascript:;" data-type="link" data-target="http://bbs.niu.com/thread-91776-1-1.html">
                <div class="gridBoxItem gridBoxItem4"></div>
                <h3>【活动】DIY头盔大赛</h3>
                <p>晒DIY头盔赢NIU骑行手套</p>
            </a>
        </li>
    </ul>
</section>
<div class="video-mask hide"></div>
<div class="video-content hide">
    <embed class="video-content-embed" src="" quality="high" width="1140" height="640" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
    <span class="icon-cross video-content-close"></span>
</div>
