#u75
{
	background-color: #212121;
}

#u75_align_to_page
{
	position: relative;
}

#u8808
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u916
{
	overflow: hidden;
	position: relative;
}

#u7683-4
{
	background-color: transparent;
	color: #F2F2F2;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
}

#u7683-4:hover p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u7683-4:active p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u110-4
{
	background-color: transparent;
	color: #F2F2F2;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
}

#u7683-4.MuseLinkActive p,#u110-4:hover p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u110-4:active p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u103-4
{
	background-color: transparent;
	color: #F2F2F2;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
}

#u110-4.MuseLinkActive p,#u103-4:hover p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u103-4:active p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u7685-4
{
	background-color: transparent;
	color: #F2F2F2;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
}

#u103-4.MuseLinkActive p,#u7685-4:hover p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u7685-4:active p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u112-4
{
	background-color: transparent;
	color: #F2F2F2;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
}

#u7685-4.MuseLinkActive p,#u112-4:hover p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u112-4:active p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u7702-4
{
	background-color: transparent;
	color: #F2F2F2;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
}

#u112-4.MuseLinkActive p,#u7702-4:hover p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u7702-4:active p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u111-4
{
	background-color: transparent;
	color: #F2F2F2;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
}

#u7702-4.MuseLinkActive p,#u111-4:hover p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u111-4:active p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u111-4.MuseLinkActive p
{
	color: #7F7F7F;
	visibility: inherit;
}

