.usertip {
	width: 220px;
	background: #fff;
	position: relative;
	float: left
}

.usertip .head {
	padding: 18px 20px;
	width: 180px;
	height: 180px;
	border-radius: 5px
}

.usertip .head img {
	width: 100%;
	height: 100%
}

.usertip a {
	display: block;
	width: 100%;
	height: 36px;
	line-height: 36px;
	font-size: 14px;
	color: #a4a9ad;
	text-align: center
}

.usertip.active1 .active1 {
	background: #df001f;
	color: #fff
}

.usertip.active2 .active2 {
	background: #df001f;
	color: #fff
}

.usertip.active3 .active3 {
	background: #df001f;
	color: #fff
}

.usertip.active4 .active4 {
	background: #df001f;
	color: #fff
}

.usertip.active5 .active5 {
	background: #df001f;
	color: #fff
}